@import url("default.css");

article h1{
    color: red;
}

article h2{
    color: orange;
}


.small-font {
    font-size: 18pt;
    line-height: 18pt;
}

.red {
    color: red;
}


.blue {
    color: blue;
}

.red-bold {
    color: red;
    font-weight: bold;
}


.white {
    color: white;

}

.white-bold {
    color: white;
    font-weight: bold;
}

.orange {
    color: orange;
}


.orange-bold {
    color: orange;
    font-weight: bold;

}


.black {
    color: black;
}

.black-bold {
    color: black;
    font-weight: bold;

}


